<!-- beautify ignore:start -->
{{/* Get the 'src' parameter from the shortcode call and find the image in the asset folder */}}
{{ $src := .Get "src" }}
{{ $alt := .Get "alt" | default "" }}
{{ $resize := .Get "resize" | default "800x webp picture" }}

{{ $image := resources.Get $src }}
{{ if $image }}
    {{ $img800 := $image.Resize "800x webp" }}
    {{ $img600 := $image.Resize "600x webp" }}
    {{ $img400 := $image.Resize "400x webp" }}
    <figure class="captioned-image">
        <img src="{{ $img800.RelPermalink }}"
             srcset="{{ $img400.RelPermalink }} 400w, {{ $img600.RelPermalink }} 600w, {{ $img800.RelPermalink }} 800w"
             sizes="(max-width: 600px) 100vw, 800px"
             alt="{{ $alt }}" loading="lazy" decoding="async"
             width="{{ $img800.Width }}" height="{{ $img800.Height }}">
        {{ with $alt }}<figcaption><b>Figure: </b>{{ . }}</figcaption>{{ end }}
    </figure>
{{ else }}
    {{ errorf "Image not found for src '%s' in shortcode 'img.html'" $src }}
{{ end }}
<!-- beautify ignore:end -->